
.AppBarStyle{
    position:fixed;
    background-color:rgb(101, 49, 150);
}

.recipmeLabel{
    font-size: 29px;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.listLabel{
    margin-left: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(154, 120, 158);
}

.iconStyle{
    color: rgb(144, 128, 170);
}
.adminIcons{
    min-width:auto;
    color: rgb(123, 81, 128);
}
.marginLeft35px{
    margin-left:35px;
}
.logOutbutton{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(123, 81, 128);
    font-size: 9px;
    width: 40px;
    height: 25px;

}
